<html>
    <head>
        <title>Clifford Gately</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Clifford Gately</a></h1>
        </div>

        <div>
            <p>Welcome to my website!</p>
            <h2><a href="">About</a></h2>
            <p>Marketing.</p>
        </div>

        {% for post in posts %}
            <div>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>published: {{ post.published_date }}</p>
            </div>
        {% endfor %}

    </body>
</html>
